SERVER_PORT=8080

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DBNAME=appliance_recycle

JWT_RESIDENT_SECRET=resident_secret_please_change
JWT_ADMIN_SECRET=admin_secret_please_change
JWT_EXPIRE_HOURS=72
